
body{
    margin: 0;
    font-family: 'Segoe UI', Arial, sans-serif;
    background-color: #e8eceb;
    color: #333;
}
.imagen1{
    width: 220px;
    height: 220px;
}
.recursos-container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 20px;
}

.recursos-header{
    text-align: center;
    margin-bottom: 5%;
}

.recursos-header h1{
    font-size: 50px;
    margin: 0;
    color: #4e2a15;
}

.recursos-header p{
    color: #666;
    margin: 5px 0 0 0;
    font-size: 20px;
}

.filtros-nav{
    box-sizing: border-box;
    border-radius: 12px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.buscador{
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 6px;
    flex: 1;
    font-size: 17px;
}

.categorias{
    list-style: none;
    display: flex;
    gap: 15px;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-size: 17px;
}

.categorias li{
    padding: 8px 12px;
    cursor: pointer;
    border-radius: 6px;
}

.categorias li.active{
    background-color: #769f1a;
    color: white;
}
.recursos{
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 25px;
    margin-top: 30px;
    color:#4e2a15;
}

.tarjeta-recurso{
    background: white;
    border: 1px solid white;
    border-radius: 15px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: transform 0.2s;
}
.tarjeta-recurso:hover{
    transform: translateY(-5px);
    color:#769f1a;
}

.tarjeta-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.label-tipo{
    font-size: 12px;
    color: gray;
    background: white;
    padding: 2px 8px;
    border-radius: 4px;
}

.contenido-tarjeta h3{
    margin: 15px 0 10px 0;
    font-size: 28px;
    text-align: center;
}

.contenido-tarjeta p{
    font-size: 14px;
    color: gray;
    font-size: 16px;
}


.tarjeta-footer{
    border-top: 1px solid white;
    padding-top: 15px;
    margin-top: 15px;
}

.categoria-info{
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-bottom: 15px;
}

.btn-descargar{
    width: 100%;
    background-color:#4e2a15;
    color: white;
    padding: 10px;
    border-radius: 6px;
    cursor: pointer;
    font-size: 16px;
}
.btn-descargar:hover{
    transform: scale(1.05);
}

